<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.alex.platform.mapper.DbMapper">
    <insert id="insertDb" parameterType="org.alex.platform.pojo.DbDO">
        insert into `t_db`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name!=null">`name`,</if>
            <if test="type!=null">`type`,</if>
            <if test="desc!=null">`desc`,</if>
            <if test="url!=null">`url`,</if>
            <if test="username!=null">`username`,</if>
            <if test="password!=null">`password`,</if>
            <if test="createdTime!=null">`created_time`,</if>
            <if test="updateTime!=null">`update_time`,</if>
            <if test="status!=null">`status`,</if>
            <if test="devUrl!=null">`dev_url`,</if>
            <if test="devUsername!=null">`dev_username`,</if>
            <if test="devPassword!=null">`dev_password`,</if>
            <if test="testUrl!=null">`test_url`,</if>
            <if test="testUsername!=null">`test_username`,</if>
            <if test="testPassword!=null">`test_password`,</if>
            <if test="stgUrl!=null">`stg_url`,</if>
            <if test="stgUsername!=null">`stg_username`,</if>
            <if test="stgPassword!=null">`stg_password`,</if>
            <if test="prodUrl!=null">`prod_url`,</if>
            <if test="prodUsername!=null">`prod_username`,</if>
            <if test="prodPassword!=null">`prod_password`,</if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="name!=null">#{name},</if>
            <if test="type!=null">#{type},</if>
            <if test="desc!=null">#{desc},</if>
            <if test="url!=null">#{url},</if>
            <if test="username!=null">#{username},</if>
            <if test="password!=null">#{password},</if>
            <if test="createdTime!=null">#{createdTime},</if>
            <if test="updateTime!=null">#{updateTime},</if>
            <if test="status!=null">#{status},</if>
            <if test="devUrl!=null">#{devUrl},</if>
            <if test="devUsername!=null">#{devUsername},</if>
            <if test="devPassword!=null">#{devPassword},</if>
            <if test="testUrl!=null">#{testUrl},</if>
            <if test="testUsername!=null">#{testUsername},</if>
            <if test="testPassword!=null">#{testPassword},</if>
            <if test="stgUrl!=null">#{stgUrl},</if>
            <if test="stgUsername!=null">#{stgUsername},</if>
            <if test="stgPassword!=null">#{stgPassword},</if>
            <if test="prodUrl!=null">#{prodUrl},</if>
            <if test="prodUsername!=null">#{prodUsername},</if>
            <if test="prodPassword!=null">#{prodPassword},</if>
        </trim>
    </insert>
    <update id="updateDb" parameterType="org.alex.platform.pojo.DbDO">
        update `t_db`
        <set>
            `name`=#{name},
            `type`=#{type},
            `desc`=#{desc},
            `url`=#{url},
            `username`=#{username},
            <if test="password!=null">`password`=#{password},</if>
            `created_time`=#{createdTime},
            `update_time`=#{updateTime},
            `status`=#{status},
            `dev_url`=#{devUrl},
            `dev_username`=#{devUsername},
            <if test="devPassword!=null">`dev_password`=#{devPassword},</if>
            `test_url`=#{testUrl},
            `test_username`=#{testUsername},
            <if test="testPassword!=null">`test_password`=#{testPassword},</if>
            `stg_url`=#{stgUrl},
            `stg_username`=#{stgUsername},
            <if test="stgPassword!=null">`stg_password`=#{stgPassword},</if>
            `prod_url`=#{prodUrl},
            `prod_username`=#{prodUsername},
            <if test="prodPassword!=null">`prod_password`=#{prodPassword},</if>
        </set>
        where `id` = #{id}
    </update>
    <delete id="deleteDbById" parameterType="Integer">
        delete from `t_db` where `id` = #{id}
    </delete>
    <select id="selectDbById" parameterType="Integer" resultType="org.alex.platform.pojo.DbVO">
        select `id`,`name`,`type`,`desc`,`url`,`username`,`password`,`created_time`,`update_time`,`status`,
        `dev_url`,`dev_username`,`dev_password`,`test_url`,`test_username`,`test_password`,`stg_url`,`stg_username`,
        `stg_password`,`prod_url`,`prod_username`,`prod_password`
        from `t_db` where `id` = #{id}
    </select>
    <select id="selectDbByName" parameterType="String" resultType="org.alex.platform.pojo.DbVO">
        select `id`,`name`,`type`,`desc`,`url`,`username`,`password`,`created_time`,`update_time`,`status`,
        `dev_url`,`dev_username`,`dev_password`,`test_url`,`test_username`,`test_password`,`stg_url`,`stg_username`,
        `stg_password`,`prod_url`,`prod_username`,`prod_password`
        from `t_db` where `name` = #{name}
    </select>
    <select id="checkDbName" parameterType="org.alex.platform.pojo.DbDO" resultType="org.alex.platform.pojo.DbVO">
        select `id`,`name`
        from `t_db` where `name` = #{name} and `id` != #{id}
    </select>
    <select id="selectDbList" parameterType="org.alex.platform.pojo.DbDTO" resultType="org.alex.platform.pojo.DbVO">
        select `id`,`name`,`type`,`desc`,`created_time`,`update_time`,`status`
        from `t_db`
        <where>
            <if test="id!=id">and `id`=#{id}</if>
            <if test="name!=null">and `name` like concat('%',#{name},'%')</if>
            <if test="type!=null">and `type`=#{type}</if>
            <if test="desc!=null">and `desc` like concat('%',#{desc},'%')</if>
        </where>
    </select>
</mapper>