<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.alex.platform.mapper.HttpSettingMapper">
    <select id="selectHttpSettingById" parameterType="Integer" resultType="org.alex.platform.pojo.HttpSettingVO">
        select `setting_id`, `name`, `value`, `desc`, `status`, `type`, `created_time`, `update_time`
        from `t_http_setting`
        where `setting_id` = #{settingId}
    </select>

    <select id="selectAllEmail" resultType="String">
        select DISTINCT `value` as `emailAddress`
        from `t_http_setting`
        where `status` = 0  and `type` = 2
    </select>

    <select id="selectHttpSetting" parameterType="org.alex.platform.pojo.HttpSettingDTO" resultType="org.alex.platform.pojo.HttpSettingVO">
        select `setting_id`, `name`, `value`, `desc`, `status`, `type`, `created_time`, `update_time`
        from `t_http_setting`
        <where>
            <if test="settingId!=null">and `setting_id`=#{settingId}</if>
            <if test="name!=null">and `name` like concat('%',#{name},'%')</if>
            <if test="value!=null">and `value` like concat('%',#{value},'%')</if>
            <if test="desc!=null">and `desc` like concat('%',#{desc},'%')</if>
            <if test="status!=null">and `status`=#{status}</if>
            <if test="type!=null">and `type`=#{type}</if>
        </where>
        order by `status` asc, `type`
    </select>

    <select id="selectHttpSettingTimeout" parameterType="org.alex.platform.pojo.HttpSettingDTO" resultType="org.alex.platform.pojo.HttpSettingVO">
        select `setting_id`, `name`, `value`, `desc`, `status`, `type`, `created_time`, `update_time`
        from `t_http_setting`
        <where>
            <if test="type==null">and `type` in (3, 4)</if>
            <if test="settingId!=null">and `setting_id`=#{settingId}</if>
            <if test="name!=null">and `name` like concat('%',#{name},'%')</if>
            <if test="value!=null">and `value` like concat('%',#{value},'%')</if>
            <if test="desc!=null">and `desc` like concat('%',#{desc},'%')</if>
            <if test="status!=null">and `status`=#{status}</if>
        </where>
        order by `status` asc, `type`
    </select>

    <insert id="insertHttpSetting" parameterType="org.alex.platform.pojo.HttpSettingDO">
        insert into `t_http_setting`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name!=null">`name`,</if>
            <if test="value!=null">`value`,</if>
            <if test="desc!=null">`desc`,</if>
            <if test="status!=null">`status`,</if>
            <if test="type!=null">`type`,</if>
            <if test="createdTime!=null">`created_time`,</if>
            <if test="updateTime!=null">`update_time`,</if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="name!=null">#{name},</if>
            <if test="value!=null">#{value},</if>
            <if test="desc!=null">#{desc},</if>
            <if test="status!=null">#{status},</if>
            <if test="type!=null">#{type},</if>
            <if test="createdTime!=null">#{createdTime},</if>
            <if test="updateTime!=null">#{updateTime},</if>
        </trim>
    </insert>
    <update id="updateHttpSetting" parameterType="org.alex.platform.pojo.HttpSettingDO">
        update `t_http_setting`
        <set>
            `name`=#{name},
            `value`=#{value},
            `desc`=#{desc},
            `status`=#{status},
            `type`=#{type},
            `update_time`=#{updateTime},
        </set>
        where `setting_id`=#{settingId}
    </update>
    <delete id="deleteHttpSetting" parameterType="Integer">
        delete from `t_http_setting` where `setting_id`=#{settingId}
    </delete>
    <update id="closeOtherProxy" parameterType="Integer">
        update `t_http_setting`
        set `status`=1
        where `setting_id`!=#{settingId} and `type`=0
    </update>
    <update id="closeOtherConnectTimeout" parameterType="Integer">
        update `t_http_setting`
        set `status`=1
        where `setting_id`!=#{settingId} and `type`=3
    </update>
    <update id="closeOtherReadTimeout" parameterType="Integer">
        update `t_http_setting`
        set `status`=1
        where `setting_id`!=#{settingId} and `type`=4
    </update>
</mapper>