<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.alex.platform.mapper.InterfaceCaseExecuteLogMapper">
    <insert id="insertExecuteLog" parameterType="org.alex.platform.pojo.InterfaceCaseExecuteLogDO" useGeneratedKeys="true" keyProperty="id">
        insert into `t_interface_case_execute_log`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="caseId != null">`case_id`,</if>
            <if test="caseDesc != null">`case_desc`,</if>
            <if test="caseMethod != null">`case_method`,</if>
            <if test="requestHeaders != null">`request_headers`,</if>
            <if test="requestParams != null">`request_params`,</if>
            <if test="requestBody != null">`request_body`,</if>
            <if test="responseCode != null">`response_code`,</if>
            <if test="responseHeaders != null">`response_headers`,</if>
            <if test="responseBody != null">`response_body`,</if>
            <if test="runTime != null">`run_time`,</if>
            <if test="executer != null">`executer`,</if>
            <if test="status != null">`status`,</if>
            <if test="createdTime != null">`created_time`,</if>
            <if test="errorMessage != null">`error_message`,</if>
            <if test="caseUrl != null">`case_url`,</if>
            <if test="suiteLogNo != null">`suite_log_no`,</if>
            <if test="suiteLogDetailNo != null">`suite_log_detail_no`,</if>
            <if test="chain != null">`chain`,</if>
            <if test="isFailedRetry != null">`is_failed_retry`,</if>
            <if test="rawRequestHeaders != null">`raw_request_headers`,</if>
            <if test="rawRequestParams != null">`raw_request_params`,</if>
            <if test="rawRequestBody != null">`raw_request_body`,</if>
            <if test="source != null">`source`,</if>
            <if test="rawType != null">`raw_type`,</if>
            <if test="bodyType != null">`body_type`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="caseId != null">#{caseId},</if>
            <if test="caseDesc != null">#{caseDesc},</if>
            <if test="caseMethod != null">#{caseMethod},</if>
            <if test="requestHeaders != null">#{requestHeaders},</if>
            <if test="requestParams != null">#{requestParams},</if>
            <if test="requestBody != null">#{requestBody},</if>
            <if test="responseCode != null">#{responseCode},</if>
            <if test="responseHeaders != null">#{responseHeaders},</if>
            <if test="responseBody != null">#{responseBody},</if>
            <if test="runTime != null">#{runTime},</if>
            <if test="executer != null">#{executer},</if>
            <if test="status != null">#{status},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="errorMessage != null">#{errorMessage},</if>
            <if test="caseUrl != null">#{caseUrl},</if>
            <if test="suiteLogNo != null">#{suiteLogNo},</if>
            <if test="suiteLogDetailNo != null">#{suiteLogDetailNo},</if>
            <if test="chain != null">#{chain},</if>
            <if test="isFailedRetry != null">#{isFailedRetry},</if>
            <if test="rawRequestHeaders != null">#{rawRequestHeaders},</if>
            <if test="rawRequestParams != null">#{rawRequestParams},</if>
            <if test="rawRequestBody != null">#{rawRequestBody},</if>
            <if test="source != null">#{source},</if>
            <if test="rawType != null">#{rawType},</if>
            <if test="bodyType != null">#{bodyType},</if>
        </trim>
    </insert>
    <select id="selectExecuteList" parameterType="org.alex.platform.pojo.InterfaceCaseExecuteLogListDTO"
            resultType="org.alex.platform.pojo.InterfaceCaseExecuteLogListVO">
        select `log`.`id`, `case`.`case_id`, `log`.`case_method`, `log`.`case_desc` as `case_desc`, `project`.`project_id`,
            `project`.`name` as `project_name`, `module`.`module_id`, `module`.`name` as `module_name`,
            `log`.`response_body`, `log`.`executer`, `log`.`run_time`, `log`.`status`, `log`.`created_time`,
            `log`.`error_message`, `log`.`suite_log_no`, `log`.`suite_log_detail_no`, `log`.`source`,
            `log`.`chain`, `log`.`is_failed_retry`, `log`.`response_code`,`log`.`response_body`,`log`.`response_headers`
        from `t_interface_case_execute_log` as `log`
        LEFT JOIN `t_interface_case` as `case` on `log`.`case_id` = `case`.`case_id`
        LEFT JOIN `t_project` as `project` on `case`.`project_id` = `project`.`project_id`
        LEFT JOIN `t_module` as `module` on `case`.`module_id` = `module`.`module_id`
        <where>
            <if test="projectId != null">and `project`.`project_id` = #{projectId}</if>
            <if test="projectName != null">and `project`.`name` like concat('%',#{projectName},'%')</if>
            <if test="moduleId != null">and `module`.`module_id` = #{moduleId}</if>
            <if test="moduleName != null">and `module`.`name` like concat('%',#{moduleName},'%')</if>
            <if test="caseId != null">and `case`.`case_id` = #{caseId}</if>
            <if test="caseDesc != null">and `case_desc` like concat('%',#{caseDesc},'%')</if>
            <if test="suiteLogNo != null">and `suite_log_no` like concat('%',#{suiteLogNo},'%')</if>
            <if test="suiteLogDetailNo != null">and `suite_log_detail_no` like concat('%',#{suiteLogDetailNo},'%')</if>
            <if test="createdStartTime != null">and `log`.`created_time` &gt;= #{createdStartTime}</if>
            <if test="createdEndTime != null">and `log`.`created_time` &lt;= #{createdEndTime}</if>
            <if test="status != null">and `log`.`status` = #{status}</if>
            <if test="isFailedRetry != null">and `log`.`is_failed_retry` = #{isFailedRetry}</if>
        </where>
        order by `log`.`id` desc
    </select>


    <resultMap id="assertList" type="org.alex.platform.pojo.InterfaceAssertLogListVO">
        <result column="assert_name" property="assertName"/>
        <result column="type" property="type"/>
        <result column="expression" property="expression"/>
        <result column="operator" property="operator"/>
        <result column="excepted_result" property="exceptedResult"/>
        <result column="raw_excepted_result" property="rawExceptedResult"/>
        <result column="order" property="order"/>
        <result column="actual_result" property="actualResult"/>
        <result column="assert_status" property="status"/>
        <result column="assert_error_message" property="errorMessage"/>
    </resultMap>

    <resultMap id="interfaceCaseExecuteVO" type="org.alex.platform.pojo.InterfaceCaseExecuteLogVO">
        <id column="id" property="id"/>
        <result column="case_id" property="caseId"/>
        <result column="case_desc" property="caseDesc"/>
        <result column="case_method" property="caseMethod"/>
        <result column="request_headers" property="requestHeaders"/>
        <result column="request_params" property="requestParams"/>
        <result column="request_body" property="requestBody"/>
        <result column="raw_request_headers" property="rawRequestHeaders"/>
        <result column="raw_request_params" property="rawRequestParams"/>
        <result column="raw_request_body" property="rawRequestBody"/>
        <result column="response_code" property="responseCode"/>
        <result column="response_headers" property="responseHeaders"/>
        <result column="response_body" property="responseBody"/>
        <result column="executer" property="executer"/>
        <result column="run_time" property="runTime"/>
        <result column="status" property="status"/>
        <result column="created_time" property="createdTime"/>
        <result column="error_message" property="errorMessage"/>
        <result column="case_url" property="caseUrl"/>
        <result column="suite_log_no" property="suiteLogNo"/>
        <result column="suite_log_detail_no" property="suiteLogDetailNo"/>
        <result column="chain" property="chain"/>
        <result column="is_failed_retry" property="isFailedRetry"/>
        <result column="source" property="source"/>
        <result column="raw_type" property="rawType"/>
        <result column="body_type" property="bodyType"/>
        <collection property="assertList" resultMap="assertList" ofType="org.alex.platform.pojo.InterfaceAssertLogListVO"/>
    </resultMap>

    <select id="selectExecute" parameterType="Integer" resultMap="interfaceCaseExecuteVO">
        select `elog`.`id`, `elog`.`case_id`, `elog`.`case_url`, `elog`.`case_method`,`elog`.`case_desc`,
        `elog`.`request_headers`, `elog`.`request_params`,`elog`.`request_body`, `elog`.`response_code`, `elog`.`response_headers`,`elog`.`source`,
        `elog`.`response_body`, `elog`.`executer`, `elog`.`status`, `elog`.`created_time`, `elog`.`error_message`,
        `alog`.`assert_name`, `alog`.`type`, `alog`.`expression`, `alog`.`operator`, `alog`.`excepted_result`, `alog`.`order`,
        `alog`.`actual_result`, `alog`.`status` as `assert_status`, `alog`.`error_message` as `assert_error_message` ,`alog`.`raw_excepted_result`,
        `elog`.`run_time`,`elog`.`suite_log_no`,`elog`.`suite_log_detail_no`,`elog`.`chain`,`elog`.`is_failed_retry`,
        `elog`.`raw_request_headers`,`elog`.`raw_request_params`,`elog`.`raw_request_body`,`elog`.`raw_type`, `elog`.`body_type`
        from `t_interface_case_execute_log` as `elog`
        left join `t_interface_assert_log` as `alog` on `elog`.id = `alog`.`execute_log_id`
        where `elog`.`id` = #{executeId}
    </select>

    <update id="updateExecuteLog" parameterType="org.alex.platform.pojo.InterfaceCaseExecuteLogDO">
        update `t_interface_case_execute_log`
        <set>
            <if test="caseId != null">`case_id` = #{caseId},</if>
            <if test="caseDesc != null">`case_desc` = #{caseDesc},</if>
            <if test="caseUrl != null">`case_url` = #{caseUrl},</if>
            <if test="caseMethod != null">`case_method` = #{caseMethod},</if>
            <if test="requestHeaders != null">`request_headers` = #{requestHeaders},</if>
            <if test="requestParams != null">`request_params` = #{requestParams},</if>
            <if test="requestBody != null">`request_body` = #{requestBody},</if>
            <if test="responseCode != null">`response_code` = #{responseCode},</if>
            <if test="responseHeaders != null">`response_headers` = #{responseHeaders},</if>
            <if test="responseBody != null">`response_body` = #{responseBody},</if>
            <if test="runTime != null">`run_time` = #{runTime},</if>
            <if test="executer != null">`executer` = #{executer},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="createdTime != null">`created_time` = #{createdTime},</if>
            <if test="errorMessage != null">`error_message` = #{errorMessage},</if>
            <if test="suiteLogNo != null">`suite_log_no` = #{suiteLogNo},</if>
            <if test="suiteLogDetailNo != null">`suite_log_detail_no` = #{suiteLogDetailNo},</if>
            <if test="chain != null">`chain` = #{chain},</if>
            <if test="isFailedRetry != null">`is_failed_retry` = #{isFailedRetry},</if>
            <if test="rawRequestHeaders != null">`raw_request_headers` = #{rawRequestHeaders},</if>
            <if test="rawRequestParams != null">`raw_request_params` = #{rawRequestParams},</if>
            <if test="rawRequestBody != null">`raw_request_body` = #{rawRequestBody},</if>
            <if test="source != null">`source` = #{source},</if>
            <if test="rawType != null">`raw_type` = #{rawType},</if>
            <if test="bodyType != null">`body_type` = #{bodyType},</if>
        </set>
        where `id` = #{id}
    </update>
</mapper>