<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.alex.platform.mapper.InterfaceSuiteCaseRefMapper">
    <insert id="insertSuiteCase" parameterType="java.util.List">
        insert into `t_interface_suite_case_ref` (`case_id`, `suite_id`, `case_status`, `order`)
        values
        <foreach item="item" collection="list" separator="," index="index">
            (
                #{item.caseId},
                #{item.suiteId},
                #{item.caseStatus},
                #{item.order}
            )
        </foreach>
    </insert>
    <insert id="insertSuiteCaseSingle" parameterType="org.alex.platform.pojo.InterfaceSuiteCaseRefDO">
        insert into `t_interface_suite_case_ref` (`case_id`, `suite_id`, `case_status`, `order`)
        values
            (
            #{caseId},
            #{suiteId},
            #{caseStatus},
            #{order}
            )
    </insert>
    <update id="modifySuiteCase" parameterType="org.alex.platform.pojo.InterfaceSuiteCaseRefDO">
        update `t_interface_suite_case_ref`
        <set>
            <if test="caseId!=null">`case_id` = #{caseId},</if>
            <if test="suiteId!=null">`suite_id` = #{suiteId},</if>
            <if test="caseStatus!=null">`case_status` = #{caseStatus},</if>
            <if test="order!=null">`order` = #{order},</if>
        </set>
        where `id` =  #{id}
    </update>
    <delete id="deleteSuiteCase" parameterType="Integer">
        delete from `t_interface_suite_case_ref` where `id` = #{id}
    </delete>
    <delete id="deleteSuiteCaseByObject" parameterType="org.alex.platform.pojo.InterfaceSuiteCaseRefDTO">
        delete from `t_interface_suite_case_ref` where `suite_id` = #{suiteId} and `case_id` = #{caseId}
    </delete>
    <select id="selectSuiteCaseList" parameterType="org.alex.platform.pojo.InterfaceSuiteCaseRefDTO" resultType="org.alex.platform.pojo.InterfaceSuiteCaseRefVO">
        select `ref`.`id`,`suite`.`suite_id`,`suite`.`suite_name`,`suite`.`desc` as `suite_desc`,
        `case`. `case_id`,`case`. `desc` as `case_desc`, `case`.`level`, `case`.`url`,
        `ref`.`order`, `ref`.`case_status`
        from `t_interface_case_suite` as `suite`
        inner join `t_interface_suite_case_ref` as `ref` on `suite`.`suite_id` = `ref`.`suite_id`
        inner join `t_interface_case` as `case` on `ref`.`case_id` = `case`.`case_id`
        <where>
            <if test="id!=null">and `ref`.`id`=#{id}</if>
            <if test="suiteId!=null">and `suite`.`suite_id`=#{suiteId}</if>
            <if test="suiteName!=null">and `suite`.`suite_name`=#{suiteName}</if>
            <if test="suiteDesc!=null">and `suite`.`desc`=#{suiteDesc}</if>
            <if test="caseId!=null">and `case`. `case_id`=#{caseId}</if>
            <if test="caseDesc!=null"> and `case`. `desc` like concat('%',#{caseDesc},'%')</if>
            <if test="level!=null">and `case`.`level`=#{level}</if>
            <if test="url!=null"> and `case`.`url` like concat('%',#{url},'%')</if>
            <if test="order!=null">and `ref`.`order`=#{order}</if>
            <if test="caseStatus!=null">and `ref`.`case_status`=#{caseStatus}</if>
        </where>
        order by `suite`.`suite_id` desc, `ref`.`order` desc
    </select>
    <select id="selectSuiteAllCase" resultType="org.alex.platform.pojo.InterfaceSuiteCaseRefDO" parameterType="Integer">
        select `id`, `case_id`, `suite_id`, `case_status`, `order`
        from `t_interface_suite_case_ref`
        where `suite_id` = #{suiteId}
    </select>
</mapper>