<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.alex.platform.mapper.InterfaceCaseMapper">
    <insert id="insertInterfaceCase" parameterType="org.alex.platform.pojo.InterfaceCaseDO" useGeneratedKeys="true" keyProperty="caseId">
        insert into `t_interface_case`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">`project_id`,</if>
            <if test="moduleId != null">`module_id`,</if>
            <if test="url != null">`url`,</if>
            <if test="method != null">`method`,</if>
            <if test="desc != null">`desc`,</if>
            <if test="level != null">`level`,</if>
            <if test="doc != null">`doc`,</if>
            <if test="headers != null">`headers`,</if>
            <if test="params != null">`params`,</if>
            <if test="formData != null">`form_data`,</if>
            <if test="formDataEncoded != null">`form_data_encoded`,</if>
            <if test="raw != null">`raw`,</if>
            <if test="rawType != null">`raw_type`,</if>
            <if test="bodyType != null">`body_type`,</if>
            <if test="creater != null">`creater`,</if>
            <if test="createdTime != null">`created_time`,</if>
            <if test="updateTime != null">`update_time`,</if>
            <if test="source != null">`source`,</if>
            <if test="importNo != null">`import_no`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null">#{projectId},</if>
            <if test="moduleId != null">#{moduleId},</if>
            <if test="url != null">#{url},</if>
            <if test="method != null">#{method},</if>
            <if test="desc != null">#{desc},</if>
            <if test="level != null">#{level},</if>
            <if test="doc != null">#{doc},</if>
            <if test="headers != null">#{headers},</if>
            <if test="params != null">#{params},</if>
            <if test="formData != null">#{formData},</if>
            <if test="formDataEncoded != null">#{formDataEncoded},</if>
            <if test="raw != null">#{raw},</if>
            <if test="rawType != null">#{rawType},</if>
            <if test="bodyType != null">#{bodyType},</if>
            <if test="creater != null">#{creater},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="source != null">#{source},</if>
            <if test="importNo != null">#{importNo},</if>
        </trim>
    </insert>

    <update id="updateInterfaceCase" parameterType="org.alex.platform.pojo.InterfaceCaseDO">
        update `t_interface_case`
        <set>
            <if test="projectId != null">`project_id` = #{projectId},</if>
            <if test="moduleId != null">`module_id` = #{moduleId},</if>
            `url` = #{url},
            `method` = #{method},
            `desc` = #{desc},
            `level` = #{level},
            `doc` = #{doc},
            `headers` = #{headers},
            `params` = #{params},
            `form_data` = #{formData},
            `form_data_encoded` = #{formDataEncoded},
            `raw` = #{raw},
            `raw_type` = #{rawType},
            `body_type` = #{bodyType},
            `creater` = #{creater},
            <if test="source != null">`source` = #{source},</if>
            <if test="importNo != null">`import_no` = #{importNo},</if>
            <if test="createdTime != null">`created_time` = #{createdTime},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
        </set>
        where `case_id` = #{caseId}
    </update>

    <delete id="removeInterfaceCase" parameterType="Integer">
        delete from `t_interface_case` where `case_id` = #{caseId}
    </delete>

    <select id="selectInterfaceCaseList" parameterType="org.alex.platform.pojo.InterfaceCaseListDTO" resultType="org.alex.platform.pojo.InterfaceCaseListVO">
        select `icase`.`case_id`, `icase`.`project_id` `project_id`, `icase`.`module_id` `module_id`, `project`.`name` `project_name`,
        `module`.`name` `module_name`,`icase`.`desc`,`icase`.`method`, `icase`.`url`, `icase`.`level`, `icase`.`creater`, `icase`.`created_time`,
        `icase`.`source`,`icase`.`import_no`
        from `t_interface_case` as `icase`
--         LEFT JOIN `t_interface_assert` as `assert` on `icase`.`case_id` = `assert`.`case_id`
        LEFT JOIN `t_module` as `module` on `icase`.`module_id` = `module`.`module_id`
        LEFT JOIN `t_project` as `project` on `icase`.`project_id` = `project`.`project_id`
        <where>
            <if test="caseId != null">and `icase`.`case_id` = #{caseId}</if>
            <if test="projectId != null">and `icase`.`project_id` = #{projectId}</if>
            <if test="projectName != null">and `project`.`name` like concat('%',#{projectName},'%')</if>
            <if test="moduleId != null">and `icase`.`module_id` = #{moduleId}</if>
            <if test="moduleName != null">and `module`.`name` like concat('%',#{moduleName},'%')</if>
            <if test="method != null">and `icase`.`method` = #{method}</if>
            <if test="desc != null">and `icase`.`desc` like concat('%',#{desc},'%')</if>
            <if test="url != null">and `icase`.`url` like concat('%',#{url},'%')</if>
            <if test="level != null">and `icase`.`level` = #{level}</if>
            <if test="creater != null">and `icase`.`creater` like concat('%',#{creater},'%')</if>
            <if test="source != null">and `icase`.`source` = #{source}</if>
            <if test="importNo != null">and `icase`.`import_no` like concat('%',#{importNo},'%')</if>
            <if test="createdStartTime != null">and `icase`.`created_time` &gt;= #{createdStartTime}</if>
            <if test="createdEndTime != null">and `icase`.`created_time` &lt;= #{createdEndTime}</if>
        </where>
        order by `icase`.`case_id` desc
    </select>
    
    <resultMap id="assertVO" type="org.alex.platform.pojo.InterfaceAssertVO">
        <id column="assert_id" property="assertId"/>
        <result column="assert_name" property="assertName"/>
        <result column="type" property="type"/>
        <result column="expression" property="expression"/>
        <result column="operator" property="operator"/>
        <result column="excepted_result" property="exceptedResult"/>
        <result column="order" property="order"/>
    </resultMap>

    <resultMap id="interfaceProcessorVO" type="org.alex.platform.pojo.InterfaceProcessorVO">
        <id column="processor_id" property="processorId"/>
        <result column="name" property="name"/>
        <result column="post_case_id" property="caseId"/>
        <result column="post_processor_type" property="type"/>
        <result column="post_processor_expression" property="expression"/>
        <result column="default_value" property="defaultValue"/>
        <result column="have_default_value" property="haveDefaultValue"/>
        <result column="post_created_time" property="createdTime"/>
        <result column="post_update_time" property="updateTime"/>
    </resultMap>

    <resultMap id="preCaseVO" type="org.alex.platform.pojo.InterfacePreCaseVO">
        <id column="pre_id" property="id"/>
        <result column="pre_case_id" property="preCaseId"/>
        <result column="pre_order" property="order"/>
        <result column="pre_status" property="status"/>
        <result column="pre_created_time" property="createdTime"/>
        <result column="pre_update_time" property="updateTime"/>
        <result column="p_case_desc" property="preCaseDesc"/>
    </resultMap>

    <resultMap id="interfaceCaseInfo" type="org.alex.platform.pojo.InterfaceCaseInfoVO">
        <result column="project_id" property="projectId"/>
        <result column="module_id" property="moduleId"/>
        <result column="case_id" property="caseId"/>
        <result column="url" property="url"/>
        <result column="desc" property="desc"/>
        <result column="method" property="method"/>
        <result column="level" property="level"/>
        <result column="doc" property="doc"/>
        <result column="headers" property="headers"/>
        <result column="params" property="params"/>
        <result column="form_data" property="formData"/>
        <result column="form_data_encoded" property="formDataEncoded"/>
        <result column="raw" property="raw"/>
        <result column="raw_type" property="rawType"/>
        <result column="body_type" property="bodyType"/>
        <result column="creater" property="creater"/>
        <result column="created_time" property="createdTime"/>
        <result column="source" property="source"/>
        <result column="import_no" property="importNo"/>
        <collection property="asserts" ofType="org.alex.platform.pojo.InterfaceAssertVO" resultMap="assertVO"/>
        <collection property="postProcessors" ofType="org.alex.platform.pojo.InterfaceProcessorVO" resultMap="interfaceProcessorVO"/>
        <collection property="preCases" ofType="org.alex.platform.pojo.InterfacePreCaseVO" resultMap="preCaseVO"/>
    </resultMap>

    <select id="selectInterfaceCaseByCaseId" resultMap="interfaceCaseInfo" parameterType="Integer">
        select `icase`.`project_id`, `icase`.`module_id`, `icase`.`case_id`, `icase`.`url`, `icase`.method, `icase`.`desc`,
            `icase`.`level`, `icase`.`doc`, `icase`.`headers`, `icase`.`params`, `icase`.`form_data`, `icase`.`form_data_encoded`,
            `icase`.`raw`,`icase`.`raw_type`,`icase`.`body_type`,
            `icase`.`creater`, `icase`.`created_time`, `icase`.`source`, `icase`.`import_no`,
            `assert`.`assert_id`, `assert`.`assert_name`, `assert`.`type`, `assert`.`expression`,
            `assert`.`operator`, `assert`.`excepted_result`, `assert`.`order`,
            `post`.`processor_id`, `post`.`name`, `post`.`type` as `post_processor_type`, `post`.`expression` as `post_processor_expression`,
            `post`.`default_value`, `post`.`have_default_value`, `post`.`case_id` as `post_case_id`,
            `post`.`created_time` as `post_created_time`,`post`.`update_time` as `post_update_time`,
            `pre`.`id` as `pre_id`,`pre`.`pre_case_id`,`pre`.`order` as `pre_order`,`pre`.`status` as `pre_status`,
            `pre`.`created_time` as `pre_created_time`,`pre`.`update_time` as `pre_update_time`,
            `pcase`.`desc` as `p_case_desc`
        from `t_interface_case` as `icase`
        left join `t_interface_assert` as `assert` on `icase`.`case_id` = `assert`.`case_id`
        left join `t_interface_processor` as `post` on `icase`.`case_id` = `post`.`case_id`
        left join `t_interface_pre_case` as `pre` on `icase`.`case_id` = `pre`.`parent_case_id`
        left join `t_interface_case` as `pcase` on `pre`.`pre_case_id` = `pcase`.`case_id`
        where `icase`.`case_id` = #{caseId}
        order by `assert`.`order` asc, `pre`.`order` asc
    </select>

    <select id="selectInterfaceCase" parameterType="Integer" resultType="org.alex.platform.pojo.InterfaceCaseDO">
        select `project_id`,`module_id`,`case_id`,`url`,`method`,`desc`,`level`,`doc`,
        `headers`,`params`,`form_data`,`form_data_encoded`,`raw`,`raw_type`,`body_type`,`creater`,`created_time`,`update_time`,`source`,`import_no`
        from `t_interface_case`
        where `case_id` = #{caseId}
    </select>
</mapper>