<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.alex.platform.mapper.InterfaceCaseExecuteLogMapper">
    <insert id="insertExecuteLog" parameterType="org.alex.platform.pojo.InterfaceCaseExecuteLogDO" useGeneratedKeys="true" keyProperty="id">
        insert into `t_interface_case_execute_log`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="caseId != null">`case_id`,</if>
            <if test="caseDesc != null">`case_desc`,</if>
            <if test="requestHeaders != null">`request_headers`,</if>
            <if test="requestParams != null">`request_params`,</if>
            <if test="requestData != null">`request_data`,</if>
            <if test="requestJson != null">`request_json`,</if>
            <if test="responseCode != null">`response_code`,</if>
            <if test="responseHeaders != null">`response_headers`,</if>
            <if test="responseBody != null">`response_body`,</if>
            <if test="executer != null">`executer`,</if>
            <if test="status != null">`status`,</if>
            <if test="createdTime != null">`created_time`,</if>
            <if test="errorMessage != null">`error_message`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="caseId != null">#{caseId},</if>
            <if test="caseDesc != null">#{caseDesc},</if>
            <if test="requestHeaders != null">#{requestHeaders},</if>
            <if test="requestParams != null">#{requestParams},</if>
            <if test="requestData != null">#{requestData},</if>
            <if test="requestJson != null">#{requestJson},</if>
            <if test="responseCode != null">#{responseCode},</if>
            <if test="responseHeaders != null">#{responseHeaders},</if>
            <if test="responseBody != null">#{responseBody},</if>
            <if test="executer != null">#{executer},</if>
            <if test="status != null">#{status},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="errorMessage != null">#{errorMessage},</if>
        </trim>
    </insert>
    <select id="selectExecuteList" parameterType="org.alex.platform.pojo.InterfaceCaseExecuteLogListDTO"
            resultType="org.alex.platform.pojo.InterfaceCaseExecuteLogListVO">
        select `log`.`id`, `case`.`case_id`, `case`.`desc` as `case_desc`, `project`.`project_id`,
            `project`.`name` as `project_name`, `module`.`module_id`, `module`.`name` as `module_name`,
            `log`.`response_body`, `log`.`executer`, `log`.`status`, `log`.`created_time`, `log`.`error_message`
        from `t_interface_case_execute_log` as `log`
        LEFT JOIN `t_interface_case` as `case` on `log`.`case_id` = `case`.`case_id`
        LEFT JOIN `t_project` as `project` on `case`.`project_id` = `project`.`project_id`
        LEFT JOIN `t_module` as `module` on `case`.`module_id` = `module`.`module_id`
        <where>
            <if test="projectId != null">and `project`.`project_id` = #{projectId}</if>
            <if test="projectName != null">and `project_name` like concat('%',#{projectName},'%')</if>
            <if test="moduleId != null">and `module`.`module_id` = #{moduleId}</if>
            <if test="moduleName != null">and `module_name` like concat('%',#{moduleName},'%')</if>
            <if test="caseId != null">and `case`.`case_id` = #{caseId}</if>
            <if test="caseDesc != null">and `case_desc` like concat('%',#{caseDesc},'%')</if>
            <if test="createdStartTime != null">and `created_time` &gt;= #{createdStartTime}</if>
            <if test="createdEndTime != null">and `created_time` &lt;= #{createdEndTime}</if>
            <if test="status != null">and `log`.`status` = #{status}</if>
        </where>
    </select>
    <select id="selectExecute" parameterType="Integer" resultType="org.alex.platform.pojo.InterfaceCaseExecuteLogVO">
        select `id`,`case_id`,`case_desc`,`request_headers`,`request_params`,`request_data`,`request_json`,
        `response_code`,`response_headers`,`response_body`,`executer`,`status`,`created_time`,`error_message`
        from `t_interface_case_execute_log`
        where id = #{id}
    </select>
    <update id="updateExecuteLog" parameterType="org.alex.platform.pojo.InterfaceCaseExecuteLogDO">
        update `t_interface_case_execute_log`
        <set>
            <if test="caseId != null">`case_id` = #{caseId},</if>
            <if test="caseDesc != null">`case_desc` = #{caseDesc},</if>
            <if test="requestHeaders != null">`request_headers` = #{requestHeaders},</if>
            <if test="requestParams != null">`request_params` = #{requestParams},</if>
            <if test="requestData != null">`request_data` = #{requestData},</if>
            <if test="requestJson != null">`request_json` = #{requestJson},</if>
            <if test="responseCode != null">`response_code` = #{responseCode},</if>
            <if test="responseHeaders != null">`response_headers` = #{responseHeaders},</if>
            <if test="responseBody != null">`response_body` = #{responseBody},</if>
            <if test="executer != null">`executer` = #{executer},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="createdTime != null">`created_time` = #{createdTime},</if>
            <if test="errorMessage != null">`error_message` = #{errorMessage},</if>
        </set>
        where `id` = #{id}
    </update>
</mapper>