<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.alex.platform.mapper.InterfaceAssertMapper">
    <insert id="insertAssert" parameterType="org.alex.platform.pojo.InterfaceAssertDO">
        insert into `t_interface_assert`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test= "assertName != null">`assert_name`,</if>
            <if test= "caseId != null">`case_id`,</if>
            <if test= "type != null">`type`,</if>
            <if test= "expression != null">`expression`,</if>
            <if test= "operator != null">`operator`,</if>
            <if test= "exceptedResult != null">`excepted_result`,</if>
            <if test= "order != null">`order`,</if>
            <if test= "createdTime != null">`created_time`,</if>
            <if test= "updateTime != null">`update_time`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test= "assertName != null">#{assertName},</if>
            <if test= "caseId != null">#{caseId},</if>
            <if test= "type != null">#{type},</if>
            <if test= "expression != null">#{expression},</if>
            <if test= "operator != null">#{operator},</if>
            <if test= "exceptedResult != null">#{exceptedResult},</if>
            <if test= "order != null">#{order},</if>
            <if test= "createdTime != null">#{createdTime},</if>
            <if test= "updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <insert id="insertAssertList" parameterType="org.alex.platform.pojo.InterfaceAssertDO">
        insert into (`t_interface_assert` `assert_name`,`case_id`,`type`,`expression`,`operator`,
        `excepted_result`,`order`,`created_time`,`update_time`)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
                #{item.assertName},
                #{item.caseId},
                #{item.type},
                #{item.expression},
                #{item.operator},
                #{item.exceptedResult},
                #{item.order},
                #{item.createdTime},
                #{item.updateTime},
            )
        </foreach>
    </insert>

    <update id="updateAssert" parameterType="org.alex.platform.pojo.InterfaceAssertDO">
        update `t_interface_assert`
        <set>
            `assert_name` = #{assertName},
            `case_id` = #{caseId},
            `type` = #{type},
            `expression` = #{expression},
            `operator` = #{operator},
            `excepted_result` = #{exceptedResult},
            `order` = #{order},
            `update_time` = #{updateTime},
        </set>
        where `assert_id` = #{assertId}
    </update>

    <delete id="deleteAssertByCaseId" parameterType="Integer">
        delete from `t_interface_assert` where `case_id` = #{caseId}
    </delete>

    <delete id="deleteAssertByAssertId" parameterType="Integer">
        delete from `t_interface_assert` where `assert_id` = #{assertId}
    </delete>


    <select id="selectAssertList" parameterType="org.alex.platform.pojo.InterfaceAssertDO" resultType="org.alex.platform.pojo.InterfaceAssertDO">
        select `case_id`, `assert_id`, `assert_name`, `type`, `expression`, `operator`, `excepted_result`, `order`
        from `t_interface_assert`
        <where>
            <if test="assertId != null">and `assert_id` = #{assertId}</if>
            <if test="caseId != null">and `case_id` = #{caseId}</if>
            <if test="assertName != null">and `assert_name` like concat('%', #{assertName}, '%') </if>
            <if test="type != null">and `type` = #{type}</if>
            <if test="expression != null">and `expression` = #{expression}</if>
            <if test="operator != null">and `operator` = #{operator}</if>
            <if test="exceptedResult != null">and `excepted_result` = #{exceptedResult}</if>
            <if test="order != null">and `order` = #{order}</if>
        </where>
        order by `order` desc
    </select>
    <select id="selectAllAssertId" resultType="Integer" parameterType="Integer">
        select `assert_id` from `t_interface_assert`
        where `case_id` = #{caseId}
    </select>
    <select id="checkAssertType" parameterType="org.alex.platform.pojo.InterfaceAssertDO" resultType="org.alex.platform.pojo.InterfaceAssertDO">
        select `case_id`, `assert_id`, `assert_name`, `type`, `expression`, `operator`, `excepted_result`, `order`
        from `t_interface_assert`
        where `assert_id`!=#{assertId} and `case_id`=#{caseId} and `order`=#{order}
    </select>
</mapper>