<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.alex.platform.mapper.InterfaceSuiteLogMapper">
    <select id="selectIfSuiteLog" parameterType="org.alex.platform.pojo.InterfaceSuiteLogDTO" resultType="org.alex.platform.pojo.InterfaceSuiteLogVO">
        select `log`.`id`, `log`.`suite_id`, `log`.`suite_log_no`, `log`.`run_time`, `log`.`total_run_case`,
        `log`.`total_case`,`log`.`total_skip`,`log`.`execute_type`,`log`.`run_dev`,`log`.`executor`,
        `log`.`total_success`, `log`.`total_failed`, `log`.`total_error`, `log`.`start_time`, `log`.`end_time`,
        `log`.`is_retry`,`log`.`total_retry`,`log`.`progress`,`log`.`percentage`,
        `suite`.`suite_name`, `suite`.`desc` as `suite_desc`
        from `t_interface_suite_log` as `log`
        LEFT JOIN `t_interface_case_suite` as `suite`
        on `log`.`suite_id` = `suite`.`suite_id`
        <where>
            <if test="id!=null">and `log`.`id`=#{id}</if>
            <if test="suiteId!=null">and `log`.`suite_id`=#{suiteId}</if>
            <if test="runDev!=null">and `log`.`run_dev`=#{runDev}</if>
            <if test="suiteName!=null">and `suite`.`suite_name` like concat('%',#{suiteName},'%')</if>
            <if test="executor!=null">and `log`.`executor` like concat('%',#{executor},'%')</if>
            <if test="suiteDesc!=null">and `suite`.`desc` like concat('%',#{suiteDesc},'%')</if>
            <if test="suiteLogNo!=null">and `log`.`suite_log_no` like concat('%',#{suiteLogNo},'%')</if>
            <if test="createdStartTime!=null">and `log`.`start_time`&gt;=#{createdStartTime}</if>
            <if test="createdEndTime!=null">and `log`.`start_time`&lt;=#{createdEndTime}</if>
            <if test="progress!=null">and `log`.`progress`=#{progress}</if>
        </where>
        order by `log`.`id` desc
    </select>
    <select id="selectIfSuiteLogByNo" parameterType="String" resultType="org.alex.platform.pojo.InterfaceSuiteLogVO">
        select `log`.`id`, `log`.`suite_id`, `log`.`suite_log_no`, `log`.`run_time`, `log`.`total_run_case`,
        `log`.`total_case`,`log`.`total_skip`,`log`.`execute_type`,`log`.`run_dev`,`log`.`executor`,
        `log`.`total_success`, `log`.`total_failed`, `log`.`total_error`, `log`.`start_time`, `log`.`end_time`,
        `log`.`is_retry`,`log`.`total_retry`,`log`.`progress`,`log`.`percentage`,
        `suite`.`suite_name`, `suite`.`desc` as `suite_desc`
        from `t_interface_suite_log` as `log`
        LEFT JOIN `t_interface_case_suite` as `suite`
        on `log`.`suite_id` = `suite`.`suite_id`
        where `log`.`suite_log_no`=#{suiteLogNo}
    </select>
    <select id="selectIfSuiteLogById" parameterType="Integer" resultType="org.alex.platform.pojo.InterfaceSuiteLogVO">
        select `log`.`id`, `log`.`suite_id`, `log`.`suite_log_no`, `log`.`run_time`, `log`.`total_run_case`,
        `log`.`total_case`,`log`.`total_skip`,`log`.`execute_type`,`log`.`run_dev`,`log`.`executor`,
        `log`.`total_success`, `log`.`total_failed`, `log`.`total_error`, `log`.`start_time`, `log`.`end_time`,
        `log`.`is_retry`,`log`.`total_retry`,`log`.`progress`,`log`.`percentage`,
        `suite`.`suite_name`, `suite`.`desc` as `suite_desc`
        from `t_interface_suite_log` as `log`
        LEFT JOIN `t_interface_case_suite` as `suite`
        on `log`.`suite_id` = `suite`.`suite_id`
        where `log`.`id`=#{id}
    </select>
    <insert id="insertIfSuiteLog" parameterType="org.alex.platform.pojo.InterfaceSuiteLogDO" useGeneratedKeys="true" keyProperty="id">
        insert into `t_interface_suite_log`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="suiteId!=null">`suite_id`,</if>
            <if test="suiteLogNo!=null">`suite_log_no`,</if>
            <if test="runTime!=null">`run_time`,</if>
            <if test="totalCase!=null">`total_case`,</if>
            <if test="totalSkip!=null">`total_skip`,</if>
            <if test="totalRunCase!=null">`total_run_case`,</if>
            <if test="totalSuccess!=null">`total_success`,</if>
            <if test="totalFailed!=null">`total_failed`,</if>
            <if test="totalError!=null">`total_error`,</if>
            <if test="startTime!=null">`start_time`,</if>
            <if test="endTime!=null">`end_time`,</if>
            <if test="executeType!=null">`execute_type`,</if>
            <if test="runDev!=null">`run_dev`,</if>
            <if test="executor!=null">`executor`,</if>
            <if test="isRetry!=null">`is_retry`,</if>
            <if test="totalRetry!=null">`total_retry`,</if>
            <if test="progress!=null">`progress`,</if>
            <if test="percentage!=null">`percentage`,</if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="suiteId!=null">#{suiteId},</if>
            <if test="suiteLogNo!=null">#{suiteLogNo},</if>
            <if test="runTime!=null">#{runTime},</if>
            <if test="totalCase!=null">#{totalCase},</if>
            <if test="totalSkip!=null">#{totalSkip},</if>
            <if test="totalRunCase!=null">#{totalRunCase},</if>
            <if test="totalSuccess!=null">#{totalSuccess},</if>
            <if test="totalFailed!=null">#{totalFailed},</if>
            <if test="totalError!=null">#{totalError},</if>
            <if test="startTime!=null">#{startTime},</if>
            <if test="endTime!=null">#{endTime},</if>
            <if test="executeType!=null">#{executeType},</if>
            <if test="runDev!=null">#{runDev},</if>
            <if test="executor!=null">#{executor},</if>
            <if test="isRetry!=null">#{isRetry},</if>
            <if test="totalRetry!=null">#{totalRetry},</if>
            <if test="progress!=null">#{progress},</if>
            <if test="percentage!=null">#{percentage},</if>
        </trim>
    </insert>

    <update id="updateIfSuiteLog" parameterType="org.alex.platform.pojo.InterfaceSuiteLogDO">
        update `t_interface_suite_log`
        <set>
            <if test="suiteId != null">`suite_id`=#{suiteId},</if>
            <if test="suiteLogNo != null">`suite_log_no`=#{suiteLogNo},</if>
            <if test="runTime != null">`run_time`=#{runTime},</if>
            <if test="totalCase != null">`total_case`=#{totalCase},</if>
            <if test="totalRunCase != null">`total_run_case`=#{totalRunCase},</if>
            <if test="totalSkip != null">`total_skip`=#{totalSkip},</if>
            <if test="totalSuccess != null">`total_success`=#{totalSuccess},</if>
            <if test="totalFailed != null">`total_failed`=#{totalFailed},</if>
            <if test="totalError != null">`total_error`=#{totalError},</if>
            <if test="totalRetry != null">`total_retry`=#{totalRetry},</if>
            <if test="startTime != null">`start_time`=#{startTime},</if>
            <if test="endTime != null">`end_time`=#{endTime},</if>
            <if test="executeType != null">`execute_type`=#{executeType},</if>
            <if test="runDev != null">`run_dev`=#{runDev},</if>
            <if test="executor != null">`executor`=#{executor},</if>
            <if test="isRetry != null">`is_retry`=#{isRetry},</if>
            <if test="progress != null">`progress`=#{progress},</if>
            <if test="percentage != null">`percentage`=#{percentage},</if>
        </set>
        where `id` = #{id}
    </update>

    <select id="selectSuiteLogProjectModule" parameterType="String" resultType="java.util.HashMap">
        select `project`.`project_id`,`project`.`name` as `project_name`,
        `module`.`module_id`,`module`.`name` as `module_name`
        from `t_interface_case_execute_log` as `log`
        LEFT JOIN `t_interface_case` as `case` on `log`.`case_id` = `case`.`case_id`
        LEFT JOIN `t_project` as `project` on `case`.`project_id` = `project`.`project_id`
        LEFT JOIN `t_module` as `module` on `case`.`module_id` = `module`.`module_id`
        where `log`.`suite_log_no`=#{suiteLogNo}
        group by `project_id`, `module_id`
        order by `project_id`, `module_id`, `status`
    </select>

    <select id="selectSuiteLogSummary" parameterType="org.alex.platform.pojo.InterfaceSuiteSummaryDTO" resultType="java.util.HashMap">
        select `project`.`project_id`,`project`.`name` as `project_name`,
        `module`.`module_id`,`module`.`name` as `module_name`, `status`, count(*) as `count`
        from `t_interface_case_execute_log` as `log`
        LEFT JOIN `t_interface_case` as `case` on `log`.`case_id` = `case`.`case_id`
        LEFT JOIN `t_project` as `project` on `case`.`project_id` = `project`.`project_id`
        LEFT JOIN `t_module` as `module` on `case`.`module_id` = `module`.`module_id`
        where `log`.`suite_log_no`=#{suiteLogNo} and `project`.`project_id`=#{projectId} and `module`.`module_id` =#{moduleId}
        group by `status`
    </select>

</mapper>