<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.alex.platform.mapper.ModuleMapper">

    <resultMap id="projectDO" type="org.alex.platform.pojo.ProjectDO">
        <id column="project_id" property="projectId"/>
        <result column="name" property="name"/>
        <result column="desc" property="desc"/>
        <result column="domain" property="domain"/>
        <result column="created_time" property="createdTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    
    <resultMap id="moduleDO" type="org.alex.platform.pojo.ModuleDO">
        <id column="module_id" property="moduleId"/>
        <result column="mname" property="name"/>
        <result column="mdesc" property="desc"/>
        <result column="mcreated_time" property="createdTime"/>
        <result column="mupdate_time" property="updateTime"/>
        <association property="projectId" column="project_id" javaType="org.alex.platform.pojo.ProjectDO"/>
    </resultMap>

    <resultMap id="moduleVo" type="org.alex.platform.pojo.ModuleVO">
        <id column="module_id" property="moduleId"/>
        <result column="mname" property="name"/>
        <result column="mdesc" property="desc"/>
        <result column="mcreated_time" property="createdTime"/>
        <result column="mupdate_time" property="updateTime"/>
        <association property="project" javaType="org.alex.platform.pojo.ProjectDO" resultMap="projectDO"/>
    </resultMap>

<!--    <select id="selectModuleList" resultMap="moduleVo" parameterType="org.alex.platform.pojo.ModuleDTO">-->
<!--        select p.project_id, p.name, m.module_id, m.name mname, m.desc mdesc, m.created_time mcreatedtime, m.update_time mupdatetime-->
<!--        from t_module as m LEFT JOIN t_project as p on m.project_id = p.project_id-->
<!--        <where>-->
<!--            <if test="projectId !=null">p.project_id=#{projectId}</if>-->
<!--            <if test="moduleId !=null">and m.module_id=#{moduleId}</if>-->
<!--            <if test="projectName !=null">and p.name like concat("%", #{projectName}, "%")</if>-->
<!--            <if test="moduleName !=null">and m.name like concat("%", #{moduleName}, "%")</if>-->
<!--        </where>-->
<!--    </select>-->

    <select id="selectModuleList" resultType="org.alex.platform.pojo.ModuleListVO" parameterType="org.alex.platform.pojo.ModuleDTO">
        select p.project_id, p.name as `project_name`, m.module_id, m.name as `module_name`, m.desc as `desc`, m.created_time `created_time`, m.update_time as `update_time`
        from t_module as m LEFT JOIN t_project as p on m.project_id = p.project_id
        <where>
            <if test="projectId !=null">p.project_id=#{projectId}</if>
            <if test="moduleId !=null">and m.module_id=#{moduleId}</if>
            <if test="projectName !=null">and p.name like concat("%", #{projectName}, "%")</if>
            <if test="moduleName !=null">and m.name like concat("%", #{moduleName}, "%")</if>
        </where>
    </select>

    <select id="selectAllModuleList" resultType="org.alex.platform.pojo.ModuleDO" parameterType="Integer">
        select `project_id`,`module_id`,`name`,`desc`,`created_time`, `update_time`
        from `t_module`
    </select>

    <insert id="insertModule" parameterType="org.alex.platform.pojo.ModuleDO">
        insert into t_module
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `project_id`,
            <if test="name != null">`name`,</if>
            <if test="desc != null">`desc`,</if>
            <if test="createdTime != null">`created_time`,</if>
            <if test="updateTime != null">`update_time`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{projectId},
            <if test="name != null">#{name},</if>
            <if test="desc != null">#{desc},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateModule" parameterType="org.alex.platform.pojo.ModuleDO">
        update t_module
        <set>
            <if test="name != null">`name`=#{name},</if>
            <if test="desc != null">`desc`=#{desc},</if>
            <if test="updateTime != null">`update_time`=#{updateTime},</if>
        </set>
        where `module_id` = #{moduleId}
    </update>
    
    <delete id="deleteModuleById" parameterType="Integer">
        delete from t_module where module_id = #{moduleId}
    </delete>
</mapper>