<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.alex.platform.mapper.PermissionMapper">
    <select id="selectPermissionById" parameterType="Integer" resultType="org.alex.platform.pojo.PermissionVO">
        select `id`, `permission_code`, `permission_name`, `menu_code`, `menu_name`, `required`
        from `t_permission`
        where `id`=#{id}
    </select>
    <select id="selectPermission" parameterType="org.alex.platform.pojo.PermissionDTO" resultType="org.alex.platform.pojo.PermissionVO">
        select `id`, `permission_code`, `permission_name`, `menu_code`, `menu_name`, `required`
        from `t_permission`
        <where>
            <if test="id != null">and `id`=#{id}</if>
            <if test="permissionCode != null">and `permission_code`=#{permissionCode}</if>
            <if test="permissionName != null">and `permission_name`=#{permissionName}</if>
            <if test="menuCode != null">and `menu_code`=#{menuCode}</if>
            <if test="menuName != null">and `menu_name`=#{menuName}</if>
            <if test="required != null">and `required`=#{required}</if>
        </where>
    </select>
    <insert id="insertPermission" parameterType="org.alex.platform.pojo.PermissionDO">
        insert into `t_permission`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `permission_code`, `permission_name`, `menu_code`, `menu_name`, `required`,
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            #{permissionCode}, #{permissionName}, #{menuCode}, #{menuName}, #{required},
        </trim>
    </insert>
    <update id="updatePermission" parameterType="org.alex.platform.pojo.RoleDO">
        update `t_permission`
        <set>
            `permission_code`=#{permissionCode},`permission_name`=#{permissionName},
            `menu_code`=#{menuCode},`menu_name`=#{menuName},`required`=#{required},
        </set>
        where `id` = #{id}
    </update>
    <delete id="deletePermissionById" parameterType="Integer">
        delete from `t_permission`
        where `id` = #{id}
    </delete>
</mapper>