<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.alex.platform.mapper.PermissionMapper">
    <insert id="insertPermission" parameterType="org.alex.platform.pojo.PermissionDO">
        insert into `t_permission`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `permission_code`, `permission_name`, `parent_id`
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            #{permissionCode}, #{permissionName}, #{parentId}
        </trim>
    </insert>
    <update id="updatePermission" parameterType="org.alex.platform.pojo.RoleDO">
        update `t_permission`
        <set>
            `permission_code`=#{permissionCode},`permission_name`=#{permissionName},`parent_id`=#{parentId}
        </set>
        where `id` = #{id}
    </update>
    <delete id="deletePermissionById" parameterType="Integer">
        delete from `t_permission`
        where `id` = #{id}
    </delete>

<!--    递归查询树结构, parentId必须为变量-->
    <resultMap id="nodes" type="org.alex.platform.pojo.PermissionVO">
        <id column="id" property="id"/>
        <result column="permission_code" property="permissionCode"/>
        <result column="permission_name" property="permissionName"/>
        <result column="parent_id" property="parentId"/>
        <collection property="nodeList" column="id" ofType="org.alex.platform.pojo.PermissionVO" select="selectPermissionByParentId"/>
    </resultMap>
    <select id="selectPermissionByParentId" resultMap="nodes">
        select `id`, `permission_name`,`permission_code`,`parent_id`
        from `t_permission`
        where parent_id = #{parentId}
    </select>

    <select id="selectPermissionById" parameterType="Integer" resultType="org.alex.platform.pojo.PermissionVO">
        select `id`, `permission_name`,`permission_code`,`parent_id`
        from `t_permission`
        where `id` = #{id}
    </select>

    <select id="checkPermissionCodeRepeat" resultType="org.alex.platform.pojo.PermissionVO">
        select `id`, `permission_name`,`permission_code`,`parent_id`
        from `t_permission`
        where `id` != #{id} and `permission_code` = #{permissionCode}
    </select>

    <select id="selectPermission" parameterType="org.alex.platform.pojo.PermissionDTO" resultType="org.alex.platform.pojo.PermissionVO">
        select `id`, `permission_name`,`permission_code`,`parent_id`
        from `t_permission`
        <where>
            <if test="id != null">and `id` = #{id}</if>
            <if test="permissionName != null">and `permission_name` = #{permissionName}</if>
            <if test="permissionCode != null">and `permission_code` = #{permissionCode}</if>
            <if test="parentId != null">and `parent_id` = #{parentId}</if>
        </where>
    </select>
</mapper>