<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.alex.platform.mapper.PostProcessorMapper">
    <select id="selectPostProcessorByName" parameterType="String" resultType="org.alex.platform.pojo.PostProcessorVO">
        select `post_processor_id`, `case_id`, `name`, `type`, `expression`, `created_time`, `update_time`
        from `t_post_processor`
        where `name`=#{name}
    </select>
    <select id="selectPostProcessorById" parameterType="Integer" resultType="org.alex.platform.pojo.PostProcessorVO">
        select `post_processor_id`, `case_id`, `name`, `type`, `expression`, `created_time`, `update_time`
        from `t_post_processor`
        where `post_processor_id`=#{postProcessorId}
    </select>
    <select id="checkPostProcessorName" resultType="org.alex.platform.pojo.PostProcessorVO">
        select `post_processor_id`, `case_id`, `name`, `type`, `expression`, `created_time`, `update_time`
        from `t_post_processor`
        where `post_processor_id`!=#{postProcessorId} and `name`=#{name}
    </select>
    <select id="selectPostProcessorList" parameterType="org.alex.platform.pojo.PostProcessorDTO" resultType="org.alex.platform.pojo.PostProcessorVO">
        select `post_processor_id`, `case_id`, `name`, `type`, `expression`, `created_time`, `update_time`
        from `t_post_processor`
        <where>
            <if test="postProcessorId!=null">and `post_processor_id`=#{postProcessorId}</if>
            <if test="caseId!=null">and `case_id`=#{caseId}</if>
            <if test="name!=null">and `name` like concat("%",#{name},"%")</if>
            <if test="type!=null">and `type`=#{type}</if>
        </where>
    </select>
    <insert id="insertPostProcessor" parameterType="org.alex.platform.pojo.PostProcessorDO" useGeneratedKeys="true" keyProperty="postProcessorId">
        insert into `t_post_processor`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="caseId!=null">`case_id`,</if>
            <if test="name!=null">`name`,</if>
            <if test="type!=null">`type`,</if>
            <if test="expression!=null">`expression`,</if>
            <if test="createdTime!=null">`created_time`,</if>
            <if test="updateTime!=null">`update_time`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="caseId!=null">#{caseId},</if>
            <if test="name!=null">#{name},</if>
            <if test="type!=null">#{type},</if>
            <if test="expression!=null">#{expression},</if>
            <if test="createdTime!=null">#{createdTime},</if>
            <if test="updateTime!=null">#{updateTime},</if>
        </trim>
    </insert>
    <update id="updatePostProcessor" parameterType="org.alex.platform.pojo.PostProcessorDO">
        update `t_post_processor`
        <set>
            `case_id`=#{caseId},
            `name`=#{name},
            `type`=#{type},
            `expression`=#{expression},
            `update_time`=#{updateTime}
        </set>
        where `post_processor_id`=#{postProcessorId}
    </update>
    <delete id="deletePostProcessorById" parameterType="Integer">
        delete  from `t_post_processor` where `post_processor_id`=#{postProcessorId}
    </delete>
</mapper>