<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.alex.platform.mapper.RelyDataMapper">
    <insert id="insertRelyData" parameterType="org.alex.platform.pojo.RelyDataDO">
       insert into `t_rely_data`
       <trim prefix="(" suffix=")" suffixOverrides=",">
           <if test="name!=null">`name`,</if>
           <if test="value!=null">`value`,</if>
           <if test="desc!=null">`desc`,</if>
           <if test="type!=null">`type`,</if>
           <if test="datasourceId!=null">`datasource_id`,</if>
           <if test="createdTime!=null">`created_time`,</if>
           <if test="updateTime!=null">`update_time`,</if>
           <if test="analysisRely!=null">`analysis_rely`,</if>
           <if test="enableReturn!=null">`enable_return`,</if>
           <if test="creatorId != null">`creator_id`,</if>
           <if test="creatorName != null">`creator_name`,</if>
           <if test="othersDeletable != null">`others_deletable`,</if>
           <if test="othersModifiable != null">`others_modifiable`,</if>
       </trim>
       <trim prefix="value(" suffix=")" suffixOverrides=",">
           <if test="name!=null">#{name},</if>
           <if test="value!=null">#{value},</if>
           <if test="desc!=null">#{desc},</if>
           <if test="type!=null">#{type},</if>
           <if test="datasourceId!=null">#{datasourceId},</if>
           <if test="createdTime!=null">#{createdTime},</if>
           <if test="updateTime!=null">#{updateTime},</if>
           <if test="analysisRely!=null">#{analysisRely},</if>
           <if test="enableReturn!=null">#{enableReturn},</if>
           <if test="creatorId != null">#{creatorId},</if>
           <if test="creatorName != null">#{creatorName},</if>
           <if test="othersDeletable != null">#{othersDeletable},</if>
           <if test="othersModifiable != null">#{othersModifiable},</if>
       </trim>
    </insert>
<!--    <update id="updateRelyData" parameterType="org.alex.platform.pojo.RelyDataDO">-->
<!--        update `t_rely_data`-->
<!--        <set>-->
<!--            <if test="name!=null">`name`=#{name},</if>-->
<!--            <if test="value!=null">`value`=#{value},</if>-->
<!--            <if test="desc!=null">`desc`=#{desc},</if>-->
<!--            <if test="type!=null">`type`=#{type},</if>-->
<!--            <if test="datasourceId!=null">`datasource_id`=#{datasourceId},</if>-->
<!--            <if test="createdTime!=null">`created_time`=#{createdTime},</if>-->
<!--            <if test="updateTime!=null">`update_time`=#{updateTime},</if>-->
<!--        </set>-->
<!--        where `id` = #{id}-->
<!--    </update>-->
<!--    修复切换类型时，数据库不更新切换后的字段-->
    <update id="updateRelyData" parameterType="org.alex.platform.pojo.RelyDataDO">
        update `t_rely_data`
        <set>
            `name`=#{name},
            `value`=#{value},
            `desc`=#{desc},
            `type`=#{type},
            `datasource_id`=#{datasourceId},
            `created_time`=#{createdTime},
            `update_time`=#{updateTime},
            `analysis_rely`=#{analysisRely},
            `enable_return`=#{enableReturn},
            <if test="othersDeletable != null">`others_deletable` = #{othersDeletable},</if>
            <if test="othersModifiable != null">`others_modifiable` = #{othersModifiable},</if>
        </set>
        where `id` = #{id}
    </update>
    <select id="selectRelyDataById" parameterType="Integer" resultType="org.alex.platform.pojo.RelyDataVO">
        select `rd`.`id`,`rd`.`name`,`rd`.`value`,`rd`.`desc`,`rd`.`type`,`rd`.`datasource_id`,
        `rd`.`others_deletable`, `rd`.`others_modifiable`, `rd`.`creator_id`, `rd`.`creator_name`,
        `db`.`name` as `db_name`,`rd`.`created_time`,`rd`.`update_time`, `rd`.`analysis_rely`, `rd`.`enable_return`
        from `t_rely_data` as `rd`
        left join t_db as `db`
        on `rd`.`datasource_id` = `db`.`id`
        where `rd`.`id` = #{id}
    </select>
    <select id="selectRelyDataByName" parameterType="String" resultType="org.alex.platform.pojo.RelyDataVO">
        select `rd`.`id`,`rd`.`name`,`rd`.`value`,`rd`.`desc`,`rd`.`type`,`rd`.`datasource_id`,
        `rd`.`others_deletable`, `rd`.`others_modifiable`, `rd`.`creator_id`, `rd`.`creator_name`,
        `db`.`name` as `db_name`,`rd`.`created_time`,`rd`.`update_time`, `rd`.`analysis_rely`, `rd`.`enable_return`
        from `t_rely_data` as `rd`
        left join t_db as `db`
        on `rd`.`datasource_id` = `db`.`id`
        where `rd`.`name` = #{name}
    </select>
    <select id="selectRelyDataList" parameterType="org.alex.platform.pojo.RelyDataDTO" resultType="org.alex.platform.pojo.RelyDataVO">
        select `rd`.`id`,`rd`.`name`,`rd`.`value`,`rd`.`desc`,`rd`.`type`,`rd`.`datasource_id`,
        `rd`.`others_deletable`, `rd`.`others_modifiable`, `rd`.`creator_id`, `rd`.`creator_name`,
        `db`.`name` as `db_name`,`rd`.`created_time`,`rd`.`update_time`, `rd`.`analysis_rely`, `rd`.`enable_return`
        from `t_rely_data` as `rd`
        left join t_db as `db`
        on `rd`.`datasource_id` = `db`.`id`
        <where>
            <if test="id!=null">and `rd`.`id`=#{id}</if>
            <if test="name!=null">and `rd`.`name` like concat('%',#{name},'%')</if>
            <if test="value!=null">and `rd`.`value` like concat('%',#{value},'%')</if>
            <if test="desc!=null">and `rd`.`desc` like concat('%',#{desc},'%')</if>
            <choose>
                <when test="type!=null and type&lt;2">
                    and `rd`.`type`=#{type}
                </when>
                <otherwise>
                    and `rd`.`type` in (2, 3, 4, 5, 6)
                </otherwise>
            </choose>
            <if test="datasourceId!=null">and `rd`.`datasource_id`=#{datasourceId}</if>
            <if test="dbName!=null">and `db`.`name` like concat('%',#{dbName},'%')</if>
            <if test="createdTime!=null">and `rd`.`created_time` &gt;= #{createdTime}</if>
            <if test="updateTime!=null">and `rd`.`update_time` &lt;= #{updateTime}</if>
            <if test="creatorId != null">and `rd`.`creator_id` = #{creatorId}</if>
            <if test="creatorName != null">and `rd`.`creator_name` like concat('%',#{creatorName},'%')</if>
            <if test="othersDeletable != null">and `rd`.`others_deletable` = #{othersDeletable}</if>
            <if test="othersModifiable != null">and `rd`.`others_modifiable` = #{othersModifiable}</if>
        </where>
    </select>
    <delete id="deleteRelyDataById" parameterType="Integer">
        delete from `t_rely_data` where id = #{id}
    </delete>
    <select id="checkName" parameterType="org.alex.platform.pojo.RelyDataDO" resultType="org.alex.platform.pojo.RelyDataVO">
        select `rd`.`id`,`rd`.`name`,`rd`.`value`,`rd`.`desc`,`rd`.`type`,`rd`.`datasource_id`,
        `rd`.`others_deletable`, `rd`.`others_modifiable`, `rd`.`creator_id`, `rd`.`creator_name`,
        `rd`.`created_time`,`rd`.`update_time`, `rd`.`analysis_rely`, `rd`.`enable_return`
        from `t_rely_data` as `rd`
        where `rd`.`id`!=#{id} and `rd`.`name`=#{name}
    </select>
</mapper>