<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.alex.platform.mapper.StabilityCaseLogMapper">
    <insert id="insertStabilityCaseLog" parameterType="org.alex.platform.pojo.StabilityCaseLogDO"
            useGeneratedKeys="true" keyProperty="stabilityTestLogId">
        insert into `t_stability_case_log`
        <trim prefix="(" suffixOverrides="," suffix=")">
            `stability_test_id`,
            `stability_test_log_no`,
            `stability_test_desc`,
            `log_path`,
            `status`,
            `execute_id`,
            `created_time`,
            `run_env`,
            `start_time`,
            `end_time`,
            `request_count`,
            `success_count`,
            `warning_count`,
            `failed_count`,
            `error_count`,
            `response_time_queue`,
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            #{stabilityTestId},
            #{stabilityTestLogNo},
            #{stabilityTestDesc},
            #{logPath},
            #{status},
            #{executeId},
            #{createdTime},
            #{runEnv},
            #{startTime},
            #{endTime},
            #{requestCount},
            #{successCount},
            #{warningCount},
            #{failedCount},
            #{errorCount},
            #{responseTimeQueue},
        </trim>
    </insert>
    <update id="updateStabilityCaseLog" parameterType="org.alex.platform.pojo.StabilityCaseLogDO">
        update `t_stability_case_log`
        <set>
        <if test="stabilityTestLogNo!=null">`stability_test_log_no`=#{stabilityTestLogNo},</if>
        <if test="stabilityTestId!=null">`stability_test_id`=#{stabilityTestId},</if>
        <if test="stabilityTestDesc!=null">`stability_test_desc`=#{stabilityTestDesc},</if>
        <if test="logPath!=null">`log_path`=#{logPath},</if>
        <if test="status!=null">`status`=#{status},</if>
        <if test="runEnv!=null"> `run_env`=#{runEnv},</if>
        <if test="startTime!=null"> `start_time`=#{startTime},</if>
        <if test="endTime!=null"> `end_time`=#{endTime},</if>
        <if test="requestCount!=null"> `request_count`=#{requestCount},</if>
        <if test="successCount!=null"> `success_count`=#{successCount},</if>
        <if test="warningCount!=null"> `warning_count`=#{warningCount},</if>
        <if test="failedCount!=null"> `failed_count`=#{failedCount},</if>
        <if test="errorCount!=null"> `error_count`=#{errorCount},</if>
        <if test="responseTimeQueue!=null"> `response_time_queue`=#{responseTimeQueue},</if>
        </set>
        where
            `stability_test_log_id`=#{stabilityTestLogId}
    </update>
    <select id="selectStabilityCaseLogById" parameterType="Integer" resultType="org.alex.platform.pojo.StabilityCaseLogInfoVO">
        select `stability_test_log_id`, `stability_test_log_no`,`stability_test_id`,`stability_test_desc`,
            `log_path`,`status`,`execute_id`,`created_time`, `run_env`,
            `start_time`,
            `end_time`,
            `request_count`,
            `success_count`,
            `warning_count`,
            `failed_count`,
            `error_count`,
            `response_time_queue`
        from `t_stability_case_log`
        where `stability_test_log_id`=#{stabilityTestLogId}
    </select>
    <select id="selectStabilityCaseLogByNo" parameterType="String" resultType="org.alex.platform.pojo.StabilityCaseLogInfoVO">
        select `stability_test_log_id`, `stability_test_log_no`,`stability_test_id`,`stability_test_desc`,
            `log_path`,`status`,`execute_id`,`created_time`, `run_env`,
            `start_time`,
            `end_time`,
            `request_count`,
            `success_count`,
            `warning_count`,
            `failed_count`,
            `error_count`,
            `response_time_queue`
        from `t_stability_case_log`
        where `stability_test_log_no`=#{stabilityTestLogNo}
    </select>
    <select id="selectStabilityCaseLogByStabilityCaseId" parameterType="Integer" resultType="org.alex.platform.pojo.StabilityCaseLogListVO">
        select `stability_test_log_id`, `stability_test_log_no`,`stability_test_id`,`stability_test_desc`,
            `log_path`,`status`,`execute_id`,`created_time`, `run_env`,
            `start_time`,
            `end_time`,
            `request_count`,
            `success_count`,
            `warning_count`,
            `failed_count`,
            `error_count`,
            `response_time_queue`
        from `t_stability_case_log`
        where `stability_test_id`=#{stabilityTestId}
    </select>

    <select id="selectStabilityCaseLogList" parameterType="org.alex.platform.pojo.StabilityCaseLogDTO" resultType="org.alex.platform.pojo.StabilityCaseLogListVO">
        select `stability_test_log_id`, `stability_test_log_no`,`stability_test_id`,`stability_test_desc`,`status`,`execute_id`,`created_time`, `run_env`,
        `start_time`,
        `end_time`,
        `request_count`,
        `success_count`,
        `warning_count`,
        `failed_count`,
        `error_count`
        from `t_stability_case_log`
        <where>
            <if test="stabilityTestId!=null">and `stability_test_id`=#{stabilityTestId}</if>
            <if test="stabilityTestDesc!=null">and `stability_test_desc` like concat("%",#{stabilityTestDesc},"%")</if>
            <if test="stabilityTestLogId!=null">and `stability_test_log_id`=#{stabilityTestLogId}</if>
            <if test="stabilityTestLogNo!=null">and `stability_test_log_no` like concat("%",#{stabilityTestLogNo},"%")</if>
            <if test="status!=null">and `status`=#{status}</if>
            <if test="runEnv!=null">and `run_env`=#{runEnv}</if>
        </where>
        order by `stability_test_log_id` desc
    </select>

    <select id="countExecuting" resultType="Integer" flushCache="true">
        select count(*) from `t_stability_case_log` where `status` = 0
    </select>

    <select id="countExecutingByCaseId" resultType="Integer" flushCache="true">
        select count(*) from `t_stability_case_log` where `status` = 0 and `stability_test_id`=#{stabilityTestId}
    </select>

    <delete id="deleteStabilityCaseLogById" parameterType="Integer">
        delete from `t_stability_case_log`
        where `stability_test_log_id`=#{stabilityTestLogId}
    </delete>
</mapper>