<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.alex.platform.mapper.TaskEmailRefMapper">
    <select id="selectTaskEmailRefList" parameterType="org.alex.platform.pojo.TaskEmailRefDTO" resultType="org.alex.platform.pojo.TaskEmailRefVO">
        select `id`, `task_id`, `email_id`
        from `t_task_email_ref`
        <where>
            <if test="id!=null">and `id`=#{id}</if>
            <if test="taskId!=null">and `task_id`=#{taskId}</if>
            <if test="emailAddress!=null">and `email_address`=#{emailAddress}</if>
        </where>
    </select>
    <insert id="insertTaskEmailRef" parameterType="org.alex.platform.pojo.TaskEmailRefDO">
        insert into `t_task_email_ref` (`task_id`, `email_address`) value (#{taskId}, #{emailAddress})
    </insert>
    <delete id="deleteTaskEmailRef" parameterType="org.alex.platform.pojo.TaskEmailRefDTO">
        delete from `t_task_email_ref`
        <where>
            <if test="id!=null">and `id`=#{id}</if>
            <if test="taskId!=null">and `task_id`=#{taskId}</if>
            <if test="emailAddress!=null">and `email_address`=#{emailAddress}</if>
        </where>
    </delete>
</mapper>