<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.alex.platform.mapper.UserMapper">
    <select id="selectUserList" resultType="org.alex.platform.pojo.UserVO">
        select user_id, username, job_number, sex, is_enable, created_time, real_name from t_user
        <where>
            <if test="userId != null">user_id = #{userId}</if>
            <if test="roleId != null">role_id = #{roleId}</if>
            <if test="username != null">and username like concat('%',#{username},'%')</if>
            <if test="jobNumber != null">and job_number = #{jobNumber}</if>
            <if test="sex != null">and sex = #{sex}</if>
            <if test="isEnable != null">and is_enable = #{isEnable}</if>
            <if test="realName != null">and real_name like concat('%',#{realName},'%')</if>
        </where>

    </select>
    <select id="selectUserToLogin" resultType="org.alex.platform.pojo.UserDO" parameterType="org.alex.platform.pojo.UserDO">
        select user_id, username, password, job_number,sex, is_enable, real_name, role_id from t_user where username = #{username} and password = #{password}
    </select>
    <select id="selectUserById" resultType="org.alex.platform.pojo.UserVO" parameterType="Integer">
        select user_id, username, job_number,sex, is_enable, real_name, role_id from t_user where user_id = #{userId}
    </select>
    <select id="selectPwdByUserId" resultType="String" parameterType="Integer">
        select password from t_user where user_id = #{userId}
    </select>
    <select id="selectUserByName" resultType="org.alex.platform.pojo.UserDO" parameterType="String">
        select user_id, username, password, job_number,sex, is_enable, real_name, role_id from t_user where username = #{username}
    </select>
    <select id="checkUser" resultType="org.alex.platform.pojo.UserDO" parameterType="org.alex.platform.pojo.UserDO">
        select user_id from `t_user` where `user_id`!=#{userId} and `username`=#{username}
    </select>
    <delete id="deleteUser" parameterType="Integer">
        delete from `t_user` where user_id = #{userId}
    </delete>
    <update id="updateUser" parameterType="org.alex.platform.pojo.UserDO">
        update t_user
        <set>
            username=#{username},
            job_number=#{jobNumber},
            is_enable=#{isEnable},
            sex=#{sex},
            update_time=#{updateTime},
            real_name=#{realName},
            role_id=#{roleId}
        </set>
        where user_id = #{userId}
    </update>
    <update id="updatePassword" parameterType="String">
        update t_user
        <set>
            password=#{password}
        </set>
        where user_id = #{userId}
    </update>
    <update id="pwdReset">
        update t_user
        <set>
            password = #{password}
        </set>
        where user_id = #{userId}
    </update>
    <insert id="insertUser" parameterType="org.alex.platform.pojo.UserDO">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
                username,
                password,
                job_number,
                sex,
                is_enable,
                created_time,
                update_time,
                real_name,
                role_id,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                #{username},
                #{password},
                #{jobNumber},
                #{sex},
                #{isEnable},
                #{createdTime},
                #{updateTime},
                #{realName},
                #{roleId},
        </trim>
    </insert>

</mapper>